button #searchBtnMeal{
    border-radius: 500px;
    border: solid black;
}

h2 {
    font-weight: bold;
    margin: 50px;
}

h1{
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: 30px;
    background-color: gray;
    height: 100px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

